[submodule ".config/st"]
	path = .config/st
	url = https://github.com/henriquehbr/st
[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/plugins/zsh-autopair"]
	path = .config/zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule ".local/share/nvim-plugins/auto-pairs"]
	path = .local/share/nvim-plugins/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".local/share/nvim-plugins/indentLine"]
	path = .local/share/nvim-plugins/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule ".local/share/nvim-plugins/vim-buftabline"]
	path = .local/share/nvim-plugins/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule ".local/share/nvim-plugins/nerdtree"]
	path = .local/share/nvim-plugins/nerdtree
	url = https://github.com/preservim/nerdtree
